* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body {
    font-size: 0;
} 

.container {
    max-width: 960px;
    margin: 0 auto;
}

.head {
    background-image: url("../images/canyon.png");
    background-size: cover;
    background-position: center;
}

.header {
    padding: 17px 0;
}

.running-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
} 

.logo {
    font: 26px/1 'Lora', sans-serif;
    text-decoration: none;
    color: #FFFFFF;
    padding: 3px 20px 11px 20px;
}

.navigation__list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

.navigation__link {
    display: inline-block;
    font: 12px/20px 'Oxygen', sans-serif;    
    letter-spacing: 0.6px;    
    color: #FFFFFF;
    padding: 10px 20px;
    text-decoration: none;    
}

.navigation__item:hover {
    transform: scale(1.1);
    transition: all 0.15s;    
}

.navigation__link:hover {
    color: #84a6a8;
}

.about-the-blog {
    padding: 110px 0 157px 0;
    text-align: center;
}

.about-the-blog__title {
    font: 50px/51px 'Lora', sans-serif;    
    letter-spacing: 2px;
    color: #FFFFFF;
    margin-bottom: 20px;
}

.about-the-blog__subtitle{
    font: 17px/20px 'Oxygen', sans-serif;    
    color: #FFFFFF;
    opacity: 0.63;
    margin-bottom: 31px;
}

.button {
    display: inline-block;
    font: 13px/20px 'Oxygen', sans-serif;    
    color: #FFFFFF;
    padding: 12px 31px;
    background: #DD783F;
    border-radius: 3px; 
    text-decoration: none;   
}

.button:hover {
    opacity: 0.8;
}

.menu {
    padding: 10px 0;
}

.menu__list {
    display: flex;
    justify-content: space-between; 
    flex-wrap: wrap;  
}

.menu__link {
    display: inline-block;
    font: 14px/20px 'Lora', sans-serif;     
    text-decoration: none;
    color:#768088;
    padding: 13px 35px;
}

.menu__item:hover {
    transform: scale(1.1);
    transition: all 0.15s;    
}

.menu__link:hover {
    color: rgb(40, 59, 56);
}

.main {
    background: rgba(247, 247, 247, 1);
    padding-bottom: 89px;
}

.featured-posts {
    padding: 60px 0 7px 0;        
}

.section-title {
    font: 20px/27px 'Oxygen', sans-serif;      
    letter-spacing: 2px;    
    color: #2E2E2E;
    text-align: center;
    position: relative;
    margin: 0 auto 33px auto;
    max-width: 188px;
}

.section-title::before {    
    content: '';
    width: 100%;
    background-color: #DEDEDE;    
    height: 1px;
    left: -2px;
    bottom: -16px;
    position: absolute;
}

.featured-posts__content {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 20px;
}

.featured-posts__post {
    display: flex;
    max-width: 460px;
    position: relative;
    align-items: flex-end;
}

.featured-post__link {    
    max-width: 460px;          
}

.post__link {
    text-decoration: none;
}

.post__link:hover {
    opacity: 0.85;
}

.featured-post__title {
    font: 27px/30px 'Lora', sans-serif;         
    text-align: left;
    color: #FFFFFF;
    margin-bottom: 6px;
}

.featured-post__item {
    display: flex;    
    flex-wrap: wrap;
    align-items: flex-end;
    position: relative;
    padding: 157px 20px 15px 20px;
}

.featured-post__image {
    top: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    border-radius: 3px;
}

.featured-post__subtitle {
    font: 14px 'Oxygen', sans-serif;    
    line-height: 25px;   
    text-align: left;
    color: #FFFFFF;
    opacity: 0.70;
    margin-bottom: 12px;
}

.fake-button {
    padding: 6px 9px;    
    font-size: 12px;
    line-height: 13px;
    position: absolute;
    top: 20px;
    left: 20px;
}

.post-info {
    flex: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.post-info__icon,
.article__icon {
    width: 26px;
    border-radius: 50%;
    margin-right: 10px;
}

.post-info__author,
.article__author {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.post-info__author-name, 
.post-info__date {
    font: 12px 'Oxygen', sans-serif;    
    line-height: 35px;    
    color: #FFFFFF;
    opacity: 0.7;
}

.most-recent {
    padding-top: 60px;
}

.articles__most-recent {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 24px 25px;
}

.article {
    max-width: 296px;       
}

.article__name {
    min-height: 93px;
    background-color: #FFFFFF;
    padding: 14px 13px 12px 13px;
    box-shadow: 0 1px 0 #EFEFEF;
    margin-bottom: 1px;
}

.article__img {
    box-shadow: 0 1px 0  #E5E5E5;
    width: 100%;    
}

.article__title {
    font: 16px 'Lora', sans-serif;    
    line-height: 21px;   
    color:  #101315;
    padding-bottom: 7px;
}

.article__subtitle {
    font: 13px 'Oxygen', sans-serif;    
    line-height: 19px;
    color: #7A7A7A;
}

.article__info {
    display: flex;
    flex-wrap: wrap;
    min-height: 48px;
    align-items: center;
    background-color: #FCFCFC;
    padding: 0 13px;
    justify-content: space-between;
}

.article__author-name,
.article_date {
    font: 12px 'Oxygen', sans-serif;    
    line-height: 35px;
    color: #999999;
}

.footer {
    background-image: url(../images/footer_background.png);
    background-size: cover;    
}

.footer__feedback {    
    padding: 81px 0 90px 0;
    text-align: center;
}

.footer__title {
    font: 25px/30px 'Oxygen', 'sans-serif';    
    color: #EFEFEF;
    position: relative;
    margin: 0 auto 33px auto;
    max-width: 188px;
}

.footer__title::before {    
    content: '';
    width: 100%;
    background-color: #DEDEDE;    
    height: 1px;
    left: -2px;
    bottom: -16px;
    position: absolute;
}

.footer__field {
    display: flex;
    max-width: 500px;
    width: 100%;
    justify-content: flex-end;
    flex-wrap: wrap;
    margin: 0 auto;
}

.footer__email {
    font: 12px/14px 'Roboto', 'sans-serif';
    padding: 18px 0 18px 35px;
    max-width: 375px;
    width: 100%;
    border: 0px;
    border-radius: 3px 0 0 3px;
}

.footer__button {
    background: rgba(255, 255, 255, 0.28);    
    font: 12px/14px 'Roboto', 'sans-serif';    
    padding: 18px 44px;
    text-decoration: none;
    color: #F8F8F8;
    border: 0;
    border-radius: 0 3px 3px 0;
    cursor: pointer;
}

.footer__bar {
    background: #232F38;
    opacity: 0.6;
    padding: 25px 0;
}

.navigation__link_light {
    color: #FFFFFF; 
    opacity: 0.6;   
    font: 11px/20px 'Oxygen', sans-serif;     
    letter-spacing: 1px;
}

.hide {
    display: none;
}

.invalid {
    border-bottom: 2px solid #E86961;    
}

.login-form__wrapper_error-msg {
    font:12px/16px 'Oxygen', sans-serif;
    color: #E86961;
}

